@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-black antialiased;
    font-feature-settings: "ss01", "ss02";
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}